<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developed by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link href="./static/assets/dog.ico" rel="icon">

  <title>About</title>

  <link href="./static/main.3f6952e4.css" rel="stylesheet"></head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0MR03EXJRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0MR03EXJRN');
</script>

<body>
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./Index.html" title="">01 : Home</a></li>
          <li><a href="./Works.html" title="">02 : Projects</a></li>
          <li><a href="./About.html" title="">03 : About Me</a></li>
          <li><a href="./Contact.html" title="">04 : Contact</a></li>
          <li><a href="./about.html"><img src="./static/assets/czech.png" alt="Czech Version" width="25" height="20" /></a>
</li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About Me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>A short info about what I do</h3>
                  <p>If you go through my contact page, you'll come across several projects and works that lived with me over the last few years, be it in sports, work, or study.
                  The main content of my time is family - a new son and a wonderful wife. My work has been focused on teaching and studying over the past few years. And it's the study of IT that I dedicate a lot of my time to.</p>
                  <h3>So is it time for more projects?</h3>
                  <p>Yes! Part of my teaching and studying is also time-management, so I'm able to enter the project fully without pushing away my other duties.
                  <h3>What's next for me?</h3>
                  <p>Next projects will be: using AI to connect ordinary people with technology, more data scraping, design.</p>
                  <p>I'm currently a full-time teacher, but I want to dedicate my future to developing technologies and helping people to get closer to development and not be afraid of it. That's why I'm switching to the IT horse, ideally in summer 2023.</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/já_a_synek.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
