<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./static/assets/dog.ico" rel="icon">

  <title>Psychologie</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/style.css" /></head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0MR03EXJRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0MR03EXJRN');
</script>


<body class="">

<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Domů</a></li>
          <li><a href="./works.html" title="">02 : Projekty</a></li>
          <li><a href="./about.html" title="">03 : Něco o mně</a></li>
          <li><a href="./contact.html" title="">04 : Kontakty</a></li>
          <li><a href="./Marks_backup.html"><img src="./static/assets/british.png" alt="Czech Version" width="20" height="20" /></a>
</li>
        </ul>

         </div>
    </div>
  </nav>
</header>


<div class="section-container">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">Záloha známek do přehledných tabulek</h1>
          </div>
                  <div class="text-center">
            <h4>Problém: nutnost manuálního stahování/zálohy známek pro každou třídu, každý měsíc.</h4>
            <h4>Řešení: Využití knihovny Playwright k získání dat po přihlášení do lokální aplikace. Takto může program využít i kterýkoliv kolega.</h4>
            <h4>Zdrojový kód je opět na <a href="https://github.com/brychjakub/Scrap_backup_marks.git">GitHubu</a>. </h4>

            </div>
        </div>

  </div>
</div>
<center>
   <h4>Na začátku si program vyžádá přihlašovací údaje, heslo je kryto hvězdičkami.</h4>

     <img id="myImg" src="./static/assets/sign-in.png" alt="Original paper" style="width:100%;max-width:300px">

<br><br>

     <h4>Po přibližně půl minutě je program hotový, vytvoří složku nazvanou podle uživatele.</h4>

     <img id="myImg" src="./static/assets/folder.png" alt="Original paper" style="width:100%;max-width:300px">

<br><br>
   <h4>Do ní postahuje požadované .xlsx soubory s názvem třídy které známky patří.</h4>

     <img id="myImg" src="./static/assets/excelFiles.png" alt="Original paper" style="width:100%;max-width:300px">


<br><br>

   <h4>V tabulkách jsou jména, průměry, známky i za co známky jsou. </h4>

</center>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
