<html>

<head>

    <title> Výpočet známky podle bodů z testu </title>

    <link rel='stylesheet' type='text/css' media='screen' href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'>

    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />


    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <html lang="en">

  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./static/assets/dog.ico" rel="icon">
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">

    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./Index.html" title="">01 : Home</a></li>
          <li><a href="./Works.html" title="">02 : Projects</a></li>
          <li><a href="./About.html" title="">03 : About me</a></li>
          <li><a href="./Contact.html" title="">04 : Contact</a></li>
          <li><a href="./percentage.html"><img src="./static/assets/czech.png" alt="Czech Version" width="25" height="20" /></a>
</li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<link href="./static/main.3f6952e4.css" rel="stylesheet">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0MR03EXJRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0MR03EXJRN');
</script>
<body>


<br><br><br><br>

<p style="padding: 10px;">Resulting grade: </p>

<textarea name="number" id="max" placeholder="maximum number of points...."></textarea>

<br>

<p>Points received</p>

<textarea name="number" id="points" placeholder="received number of points...."></textarea>

<br>
<script type="text/javascript" src="./static/main.70a66962.js"></script>
<button id="run" type="button" class="button is-primary" pys-onClick="markCounter">Count</button>

<p>Result: </p>

<p id = 'output'></p>
<p id = 'percentage'></p>

</body>

<py-script>

maxPoints = Element("max")
pointsOnTest = Element("points")

op = Element("output")
percentage = Element("percentage")

def markCounter(*args, **kwargs):

                    result = (float(pointsOnTest.value) / float(maxPoints.value)) * 100
                    percentage.write(f"{result} %")

                    if result >= 91:
                        op.write("výsledná známka je 1")
                    elif 88 < result <= 90:
                        op.write("výsledná známka je 1-")
                    elif 75 < result <= 88:
                        op.write("výsledná známka je 2")
                    elif 73 < result <= 75:
                        op.write("výsledná známka je 2-")
                    elif 50 < result <= 73:
                        op.write("výsledná známka je 3")
                    elif 48 < result <= 50:
                        op.write("výsledná známka je 3-")
                    elif 25 < result <= 48:
                        op.write("výsledná známka je 4")
                    elif 23 < result <= 25:
                        op.write("výsledná známka je 4-")
                    elif result <= 23:
                        op.write("výsledná známka je 5")


def clear(*args, **kwargs):
    input_text.clear()



</py-script>


</html>