<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./static/assets/dog.ico" rel="icon">

  <title>Psychology</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet">
<link rel="stylesheet" href="./static/style.css" /></head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0MR03EXJRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0MR03EXJRN');
</script>


<body class="">

<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./Index.html" title="">01 : Home</a></li>
          <li><a href="./Works.html" title="">02 : Projects</a></li>
          <li><a href="./About.html" title="">03 : About me</a></li>
          <li><a href="./Contact.html" title="">04 : Contact</a></li>
        <li><a href="./psychologie.html"><img src="./static/assets/czech.png" alt="Czech Version" width="25" height="20" /></a>
</li>

        </ul>

         </div>
    </div>
  </nav>
</header>


<div class="section-container">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
           <h1 class="h2">Converting Manual Work into a Digital One</h1>
</div>
<div class="text-center">
  <h4>Program for calculating scores to determine the ideal future profession of students.</h4>
<h4>The source code is again on <a href="https://github.com/brychjakub/psychoFinal.git">GitHub</a>.</h4>
<h4>Problem: The long and strenuous, repetitive work of the school psychologist, which involves transcribing 240 manually circled questions into numbers and then summing them up.</h4>
<h4>Final solution: An online questionnaire done with vanila JavaScript where students generate a .txt file by clicking on the answers, which the psychologist can easily use in subsequent work. This saves an hour of work per student.</h4>
<h4>Original solution: Originally converted into a clickable Excel spreadsheet for compatibility with school PCs.</h4>
</div>
</div>
</div>

</div>
<center>
<h2>Final Solution</h2>
<h4>JavaScript - a web application accessible from mobile, tablet, and PC is the simplest option.</h4>
<button onclick="location.href='./neops.html'" style="background-color: green; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">Questionnaire</button>

<br> <br> <br>
<h3>Original Solution</h3>
<h4>Excel - software that works on all school devices and is familiar to both students and teachers.</h4>
<div class="responsive-iframe-container">
    <iframe src="https://www.youtube.com/embed/r3NjL9_6EG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br> <br> <br>


<h3>The original answer-sheet</h3>

     <img id="myImg" src="./static/assets/neops.jpg" alt="Original paper" style="width:100%;max-width:300px">

   <div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
    <script src="./static/script.js"></script>

</center>

<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
 <script src="script.js"></script>
<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>
